@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .__grid {
    /* display: grid;
    grid-template-columns: 45fr 55fr; */
    display: flex;
    flex-direction: column;
  }

  ._desserts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    margin-top: 2rem;
    /* align-items: start; */
  }
}

@media (max-width: 430px) {
  html {
    font-size: 45%;
  }
  .__grid {
    /* display: grid;
    grid-template-columns: 45fr 55fr; */
    display: flex;
    flex-direction: column;
  }

  ._desserts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 2rem;
    margin-top: 2rem;
    /* align-items: start; */
  }
}
